        <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo login jqm</title>
    <link rel="stylesheet" href="css/jquery.mobile-1.1.0.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.1.0.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/stilo.css" rel="stylesheet" type="text/css"/>  
     
	 
 <script src="pedidos.js"></script>
  <script src="productos.js"></script>
        <script src="js/menu.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
         <script src="js/bootstrap.min.js" type="text/javascript"></script>
         <script src="js/jquery.min.js" type="text/javascript"></script>
         <script src="js/dropdown.js" type="text/javascript"></script>
         <script src="js/carousel.js" type="text/javascript"></script>
         <script src="js/transition.js" type="text/javascript"></script>
         <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
         <script src="js/funciones.js" type="text/javascript"></script>
         <script src="js/modal.js" type="text/javascript"></script>
         <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script>
		function cerrar(){
		 $('#productouno').modal('hide');
		}
		</script>
</head>
<body>
     <div id="subir" style="background-image: url('img/rio.jpg'); width: 100%;height: 100px; background-repeat:  no-repeat">
            <center>
                <h4 class="texto paddintexto"> PEDIDOS YA!</h4> <a ng-href="" onclick="revisar()" data-toggle="modal" data-target="#carrito" ng-if="publicCtrl.loadPage == 1" ng-click="publicCtrl.openCartDialog(publicCtrl.routeStatus)" class="lw-shopping-cart-btn btn btn-default pull-right ng-binding ng-scope" ng-bind-html="publicCtrl.cart_string" style=""><i class="glyphicon glyphicon-shopping-cart"></i> <strong>0</strong> artículo de <strong>0.00 gs</strong> en su carrito</a></center>
            </div>
         <div class="bordeabajo"> <h4>ACCESORIOS DE TODO TIPO</h4> </div>
         <!--
            CARD CON LINK
            -->
            <CENTER>
			<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"  placeholder="Buscar" aria-label="Search">
                   <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: pink" type="button" onclick="menu()">Atras</button>
             
				  <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: pink" type="submit">Buscar</button>
                </form>
			<div class="row">
                <div class=" col-xs-6 col-md-3">
                    <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" data-toggle="modal" data-target="#productouno" src="img/soporte2.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#">Lamicall Soporte Celular, Base para Celular Phone Móvil </a>
                    </div>
                </div>
            </div>

            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    
                
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" data-toggle="modal" data-target="#productodos" src="img/funda.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#">Móvil Funda Cubierta Anillo Armadura Caso Móvil.</a>
                    </div>
                </div>
</div>
           <div class=" col-xs-6 col-md-3">
               <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" data-toggle="modal" data-target="#productocuatro" src="img/cargador.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text" href="#">Cable Rápido Cargador De Teléfono Usb Pared Cargador .</p>
                    </div>
                </div>
</div>
            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/palo.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text">Tripie Solidex TR-8 Largo 108 cm + Bastón para Selfie.</p>
                    </div>
                </div>
                
</div> </div>
            <div class="row">
                <div class=" col-xs-6 col-md-3">
                    <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/radio2.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#">JBL Charge 3. </a>
                    </div>
                </div>
            </div>

            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    
                
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/noganet.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#"> Noganet .</a>
                    </div>
                </div>
</div>
           <div class=" col-xs-6 col-md-3">
               <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/lentes.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text" href="#">VIGICA Google Cardboard 3D VR Gafas Headset Virtual Reality Glasses for 4.7~6.2" Inch Smartphones for 3D.</p>
                    </div>
                </div>
</div>
            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/auricular.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text">Accesorios para Celulares Punktal — Magic Center.</p>
                    </div>
                </div>
                
</div>   </div>
 <div class="row">
                <div class=" col-xs-6 col-md-3">
                    <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/ferre.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#">Ferreyshop: 835. </a>
                    </div>
                </div>
            </div>

            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    
                
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/auri.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <a class="card-text" href="#">Auriculares Apple original modelo MD827ZM.</a>
                    </div>
                </div>
</div>
           <div class=" col-xs-6 col-md-3">
               <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/soporte3.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text" href="#">YXYP Impression 1 PCS Soporte de Coche Soporte del Teléfono .</p>
                    </div>
                </div>
</div>
            <div class=" col-xs-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="thumbnail">

                        <img class="card-img-top" src="img/usb.jpg" alt=""/>
                    </a>
                    <div class="card-body">

                        <p class="card-text">USB original de carga rapida y potente la mas segura</p>
                    </div>
                </div>
                
</div>
            
 </div>
 <div class="modal fade" id="productouno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lamicall Soporte Celular, Base para Celular Phone Móvil.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <div style="position:absolute; margin-top:25%; margin-left: 66%; font-size: 13px; width: 20%"> <b style="font-size: 13px">Marca :</b> Lamicall  <b style="font-size: 13px">Precio :</b> 50.000  <b style="font-size: 13px">Color :</b> Varios <b style="font-size: 13px">Modelo :</b>Lamicall-MT200 </div>
       <img class="card-img-top" src="img/soporte2.jpg" alt=""/>
		
		<input id="precio_pedido" name="precio_pedido" type="number" value="50000" style="display:none">
		<input id="cantidad_pedido" name="cantidad_pedido" type="number" value="1">
		<input id="fecha_pedido" name="fecha_pedido" type="date" style="display:none">
		<input id="estado_pedido" name="estado_pedido" type="text" value="PENDIENTE" style="display:none">
		<input id="id_producto" name="id_producto" type="text" value="7" style="display:none">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="agregar" name="agregar" onclick="comparar()">agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
 
 <div class="modal fade" id="productodos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Móvil Funda Cubierta Anillo Armadura Caso Móvil.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  <div style="position:absolute; margin-top:25%; margin-left: 66%; font-size: 13px; width: 20%"> <b style="font-size: 13px">Marca :</b> Caso  <b style="font-size: 13px">Precio :</b> 30.000  <b style="font-size: 13px">Color :</b> Varios <b style="font-size: 13px">Modelo :</b> funda cast-102 </div>
     
        <img style="margin-right: 50%" class="card-img-top" src="img/funda.jpg" alt=""/>
		
		<input id="precio_pedido1" name="precio_pedido1" type="number" value="25000" style="display:none">
		<input id="cantidad_pedido1" name="cantidad_pedidos1" type="number" value="1">
		<input id="fecha_pedido1" name="fecha_pedido1" type="date" style="display:none">
		<input id="estado_pedido1" name="estado_pedido1" type="text" value="PENDIENTE" style="display:none">
		<input id="id_producto1" name="id_producto1" type="text" value="9" style="display:none">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="agregar1" name="agregar1" onclick="comparar1()">agregar al carrito</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productocuatro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">El Samsung Galaxy Note 4 es la cuarta generación del phablet de Samsung.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="card-img-top" src="img/cargador.jpg" alt=""/>
		
		<input id="precio_pedido2" name="precio_pedido2" type="number" value="15000" style="display:none">
		<input id="cantidad_pedido2" name="cantidad_pedido2" type="number" value="1">
		<input id="fecha_pedido2" name="fecha_pedido2" type="date" style="display:none">
		<input id="estado_pedido2" name="estado_pedido2" type="text" value="PENDIENTE" style="display:none">
		<input id="id_producto2" name="id_producto2" type="text" value="11" style="display:none">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="agrega()">agregar al carrito</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="carrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       CARRITO DE COMPRAS
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<input type="text" id="id_pedido" value="sin nombre" name="id_pedido" style="display:none">
		<input type="text" id="nombre_usuario" value="sin nombre" name="nombre_usuario" style="display:none">
		<input type="text" id="id_usuario" name="id_usuario" style="display:none">
   
	</div>
      <div class="modal-body">
      <div id="datos"></div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir Comprando</button>
        <button type="button" style="background-color:#FF6133; color:white" class="btn" id="agregarfin" data-toggle="modal" data-target="#registrar" name="agregarfin">FINALIZAR COMPRA</button>
     </div>
    </div>
  </div>
</div>
  <div id="productodos" style="position:fixed; top:80%; margin-right:550px; display:none">
         <a style="color: #CD5C5C" ng-href="" ng-if="publicCtrl.loadPage == 1" ng-click="publicCtrl.openCartDialog(publicCtrl.routeStatus)" class="lw-shopping-cart-btn btn btn-default pull-right ng-binding ng-scope" ng-bind-html="publicCtrl.cart_string" ><i class="glyphicon glyphicon-shopping-cart"></i>PRODUCTO CARGADO EN EL CARRITO</a>

</div>

 </CENTER>
 <div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:60%" role="document">
    <div class="modal-content">
      <div class="modal-header" style="font-size:19px">
       ACCEDER
      </div>
      <div class="modal-body">
 
			<div class="row"> 
				<div class="col-md-12"> 
					<label style="font-size:15px">Usuario </label> </div> 
						<div class="col-md-6"> 
					<input id="usuario_usuario" name="usuario_usuario" type="text" class="fcontrolbordo">
					<a class="error" id='resultadoC'></a>
				</div>
			</div>
			<div class="row">
                        <div class="col-md-12"> <label style="font-size:15px">Contraseña</label>
                        </div> 
                        <div class="col-md-6">
                            <input id="clave_usuario" name="clave_usuario" type="password" class="fcontrolbordo">
                            <a class="error" id='resultadoU'></a>
                        </div> 
            </div>
			
			<div style="position: absolute; top: 30%;margin-left:60%">
			<div FACE="small fonts" style="font-size:15px">¿Aun no Estas Reguistrado?</div>
			<br>
			      <button type="button" onclick="ver()" class="btn" style="background-color:#FF6133 ;margin-left:14%; color:white ; height: 60px"  id="regi" name="regi">Registrarse Ahora</button>
  	</div>
  </div>
  
<br>
        <button type="button" style="width:30%;background-color:#1ED935; color:white ;margin-left:10%" class="btn" id="" data-toggle="modal" data-target="#registrar" name="agregar">ACCEDER</button>
    <div class="modal-body">
 
		
  </div>
	</div>
     
      
    </div>
  </div>
 </body>
</html>